/* chi-tiet-du-an.html
 -----------------------------------------------------*/
.page-project-detail .blk-table {
  margin: 0 0 1.2vw;
}
.page-project-detail .find-project {
  margin: 0 0 1vw;
}
.page-project-detail .banner {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-project-detail .blk-table {
    margin: 0 0 2.5vw;
  }
  .page-project-detail .banner {
    margin: 0 0 4vw;
  }
}
