/* header
 -----------------------------------------------------*/
.blk-contact .top-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 3vw;
}
.blk-contact .top-meta .fl-left {
  width: 40%;
}
.blk-contact .top-meta .fl-left img {
  width: 100%;
}
.blk-contact .top-meta .fl-right {
  width: 50%;
  padding: 2vw 2vw 1vw 2vw;
  border-radius: 1em;
}
.blk-contact .top-meta .fl-right .top {
  margin: 0 0 2vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.blk-contact .top-meta .fl-right .top .icon {
  width: 5vw;
}
.blk-contact .top-meta .fl-right .top .icon img {
  width: 100%;
}
.blk-contact .top-meta .fl-right .top .text {
  padding-left: 1vw;
}
.blk-contact .top-meta .fl-right .top .text strong {
  display: block;
  line-height: 1.3em;
  font-size: -webkit-calc(1.55vw + 0px);
  font-size: calc(1.55vw + 0px);
}
.blk-contact .top-meta .fl-right form .md-row {
  margin: 0 0 1.3vw;
}
.blk-contact .top-meta .fl-right form .md-row label {
  display: block;
  font-weight: bold;
}
.blk-contact .top-meta .fl-right form .md-row .input-text {
  border: 1px solid #EAEAEA;
  border-radius: 0.2em;
  height: 3vw;
  display: block;
  width: 100%;
  padding: 0 1vw;
}
.blk-contact .top-meta .fl-right form .md-row .btn-button {
  font-weight: 500;
}
.blk-contact .faq .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.blk-contact .faq .content .fl-left {
  width: 60%;
}
.blk-contact .faq .content .fl-right {
  width: 40%;
}
.blk-contact .faq .content .fl-right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blk-contact .top-meta {
    display: block;
  }
  .blk-contact .top-meta .fl-left {
    width: 100%;
    text-align: center;
    margin: 0 0 5vw;
  }
  .blk-contact .top-meta .fl-left img {
    width: 60%;
  }
  .blk-contact .top-meta .fl-right {
    padding: 4vw 3vw 4vw 3vw;
    width: 100%;
  }
  .blk-contact .top-meta .fl-right .top .icon {
    width: 8vw;
  }
  .blk-contact .top-meta .fl-right .top .text strong {
    font-size: -webkit-calc(1.8vw + 4px);
    font-size: calc(1.8vw + 4px);
  }
  .blk-contact .top-meta .fl-right form .md-row .input-text {
    height: 7vw;
    padding: 0 2.5vw;
  }
  .blk-contact .faq .content {
    display: block;
  }
  .blk-contact .faq .content .fl-left {
    width: 100%;
    margin: 0 0 4vw;
  }
  .blk-contact .faq .content .fl-right {
    width: 100%;
  }
}

.myaccordion {
  padding: 1.5vw 1.5vw 5vw 1.5vw;
  background: #FFF;
  border-radius: 1em;
  margin-right: -3vw;
  position: relative;
  z-index: 3;
}
.myaccordion .card {
  background: #FFF;
  border: none;
}
.myaccordion .card:nth-child(2n+1) {
  background: #f9f9f9;
}
.myaccordion .card:nth-child(2n+1) .card-header {
  background: #f9f9f9;
}
.myaccordion .card .card-header {
  border: none;
  outline: none;
  background: #FFF;
}
.myaccordion .card .card-header h2 {
  outline: none;
}
.myaccordion .card .card-header h2 button {
  font-size: -webkit-calc(0.9vw + 4px);
  font-size: calc(0.9vw + 4px);
  text-align: left;
  position: relative;
  display: block;
  width: 100%;
  padding: 0 2vw 0 0;
  color: #FEB304;
  outline: none;
}
@media screen and (max-width: 768px) {
  .myaccordion .card .card-header h2 button {
    font-size: -webkit-calc(1.4vw + 4px);
    font-size: calc(1.4vw + 4px);
  }
}
.myaccordion .card .card-header h2 button:hover {
  text-decoration: initial;
}
.myaccordion .card .card-header h2 button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: initial;
}
.myaccordion .card .card-header h2 button:before {
  content: "-";
  background: #FEB304;
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.3vw;
  text-align: center;
  color: #FFF;
  font-size: 1.9vw;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 1vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.myaccordion .card .card-header h2 button.collapsed {
  color: #212121;
}
.myaccordion .card .card-header h2 button.collapsed:before {
  content: "+";
  background: #AB0302;
  font-size: 1.5vw;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .myaccordion {
    margin: 0 0 2vw;
  }
  .myaccordion .card .card-header h2 button:before {
    width: 3vw;
    height: 3vw;
    font-size: 4vw;
    line-height: 2.5vw;
  }
  .myaccordion .card .card-header h2 button.collapsed:before {
    font-size: 2.5vw;
    line-height: 2.7vw;
  }
}
