/* page account
 -----------------------------------------------------*/
.blk-account {
  padding: 0 0 2em;
}
.blk-account .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.blk-account .inner .fl-left {
  width: 30%;
}
.blk-account .inner .fl-left .avatar {
  background: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3em;
  margin: 0 0 0.9em;
  border-radius: 0.9em;
}
.blk-account .inner .fl-left .avatar .img {
  width: 4vw;
}
.blk-account .inner .fl-left .avatar .img img {
  width: 100%;
  border-radius: 0.2em;
  overflow: hidden;
}
.blk-account .inner .fl-left .avatar .info {
  padding: 0 0 0 0.7vw;
}
.blk-account .inner .fl-left .avatar .info strong {
  display: block;
}
.blk-account .inner .fl-left .tab-project {
  background: #FFF;
  padding: 0 1.3em;
  margin: 0 0 1.8em;
  border-radius: 0.9em;
}
.blk-account .inner .fl-left .tab-project ul li {
  font-size: -webkit-calc(1vw + 4px);
  font-size: calc(1vw + 4px);
}
@media screen and (max-width: 768px) {
  .blk-account .inner .fl-left .tab-project ul li {
    font-size: -webkit-calc(1.5vw + 4px);
    font-size: calc(1.5vw + 4px);
  }
}
.blk-account .inner .fl-left .tab-project ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #F3F7FC;
  padding: 1.1em 0.2em;
}
.blk-account .inner .fl-left .tab-project ul li a.active {
  color: #AB0302;
}
.blk-account .inner .fl-left .tab-project ul li a:before {
  content: "";
  display: block;
  width: 0.5vw;
  height: 1vw;
  position: absolute;
  right: 1vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/tai-khoan/arrow-right.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
.blk-account .inner .fl-left .tab-project ul li a .img {
  width: 2vw;
}
.blk-account .inner .fl-left .tab-project ul li a .img img {
  width: 100%;
}
.blk-account .inner .fl-left .tab-project ul li a span {
  padding-left: 0.7vw;
}
.blk-account .inner .fl-right {
  width: 68%;
}
.blk-account .inner .fl-right .top-meta {
  margin: 0 0 2em;
}
.blk-account .inner .fl-right .top-meta li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.8em;
}
.blk-account .inner .fl-right .top-meta li .icon {
  width: 2vw;
}
.blk-account .inner .fl-right .top-meta li .icon img {
  width: 100%;
}
.blk-account .inner .fl-right .top-meta li .text {
  padding-left: 0.5em;
  text-transform: uppercase;
}
.blk-account .inner .fl-right .form-account {
  border-radius: 0.9em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 1em 1.2em 5vw 1.2em;
  margin: 0 0 0.8em;
}
.blk-account .inner .fl-right .form-account .form-left {
  width: 60%;
}
.blk-account .inner .fl-right .form-account .form-right {
  width: 37%;
}
.blk-account .inner .fl-right .form-account .form-right .ctn-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}
.blk-account .inner .fl-right .form-account .form-right label {
  margin: 0;
  padding: 0 0 0 0.5em;
  cursor: pointer;
  color: #0060AF;
}
.blk-account .inner .fl-right .form-account .form-right .choose-file {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 0;
}
.blk-account .inner .fl-right .form-account .form-right .img-preview {
  width: 13em;
  position: relative;
}
.blk-account .inner .fl-right .form-account .form-right .img-preview img {
  width: 100%;
}
.blk-account .inner .fl-right .form-account .form-right .img-preview .icon {
  width: 2.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blk-account .inner .fl-right .form-account .md-row {
  margin: 0 0 1.2em;
}
.blk-account .inner .fl-right .form-account .smd-button {
  position: absolute;
  bottom: 1vw;
  right: 40%;
}
.blk-account .inner .fl-right .meta-bottom {
  padding: 1em 1.2em 2em 1.2em;
  border-radius: 0.9em;
}
.blk-account .inner .fl-right .meta-bottom .title {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 1em;
}
.blk-account .inner .fl-right .meta-bottom .title img {
  width: 1.3em;
}
.blk-account .inner .fl-right .meta-bottom .title span {
  padding-left: 0.2em;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item {
  width: 30%;
  text-align: center;
  padding: 3em 1em 3em 1em;
  border-radius: 0.9em;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item .icon img {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item .number {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item:nth-child(1) {
  background: #E7FAFD;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item:nth-child(2) {
  background: #E3FBEC;
}
.blk-account .inner .fl-right .meta-bottom .ctn-inner .item:nth-child(3) {
  background: #FFF4F4;
}
.blk-account .inner .fl-right .md-table {
  border-radius: 0.6em;
  padding-bottom: 0;
  margin: 0 0 2em;
  background: #FFF;
  padding: 0.7em 0.7em 0.7em 0.7em;
}
.blk-account .inner .fl-right .md-table .table {
  margin: 0 0 1em;
}
.blk-account .inner .fl-right .md-table .md-pagination {
  padding: 1em 0 2em;
}
@media screen and (max-width: 768px) {
  .blk-account .inner .fl-left {
    width: 100%;
    margin: 0 0 3em;
  }
  .blk-account .inner .fl-left .btn-dx a {
    display: table;
    text-align: center;
    width: auto;
    margin: 0 auto;
  }
  .blk-account .inner .fl-right {
    width: 100%;
  }
  .blk-account .inner .fl-right .form-account {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 1.4em 1.2em 5vw 1.2em;
  }
  .blk-account .inner .fl-right .form-account .form-left {
    width: 100%;
  }
  .blk-account .inner .fl-right .form-account .form-right {
    width: 100%;
    margin: 0 0 3em;
  }
  .blk-account .inner .fl-right .form-account .smd-button {
    position: relative;
    float: right;
    bottom: auto;
    right: auto;
    display: contents;
  }
  .blk-account .inner .fl-right .form-account .smd-button a {
    min-width: 10em;
    text-align: center;
  }
  .blk-account .inner .fl-right .meta-bottom {
    padding: 3em 3%;
  }
  .blk-account .inner .fl-right .meta-bottom .ctn-inner {
    margin: 0 auto;
  }
  .blk-account .inner .fl-right .meta-bottom .ctn-inner .item {
    width: 100%;
    margin: 0 0 1.5em;
  }
}

.btn-dx a {
  width: 100%;
  background: -webkit-linear-gradient(270deg, #AB0302, #7F0100);
  background: -o-linear-gradient(270deg, #AB0302, #7F0100);
  background: linear-gradient(180deg, #AB0302, #7F0100);
  display: inline-block;
  padding: 0em 2em;
  height: 2.8em;
  line-height: 2.8em;
  border-radius: 0.4em;
  color: #FFF;
  text-align: center;
}
.btn-dx a img {
  width: 1em;
  margin-left: 0.8em;
}
.btn-dx a:hover {
  color: #FEB304;
}

.task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
  padding: 2em 1em 1.7em 1em;
  border-radius: 0.9em;
  margin: 0 0 0.9em;
}
.task .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.task .item .icon {
  width: 1.7em;
}
.task .item .icon img {
  width: 100%;
}
.task .item span {
  padding-left: 0.2em;
}
@media screen and (max-width: 768px) {
  .task {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 1em 1em 0em 1em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .task .item {
    width: 33%;
    margin: 0 0 1em;
  }
}

.search-modun {
  margin: 0 0 1em;
  padding: 1em 1em;
  background: #FFF;
  border-radius: 0.9em;
}
.search-modun form .search {
  position: relative;
}
.search-modun form .search:before {
  content: "";
  width: 1.5em;
  height: 2em;
  display: block;
  position: relative;
  background: url(../images/ico-search-gray.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  position: absolute;
  left: 0.8em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  border: none;
}
.search-modun form input {
  width: 100%;
  height: 3em;
  border: none;
  padding: 0 1em 0 3em;
  background: #F3F7FC;
}

.popup-bao-gia {
  display: none;
}
