/* tim-kiem-du-an
 -----------------------------------------------------*/
.page-find-project-2 .button-bao-gia {
  padding: 2vw 0 3vw;
}
@media screen and (max-width: 768px) {
  .page-find-project-2 .md-pagination {
    padding: 0 0 8vw;
  }
  .page-find-project-2 .blk-project {
    padding: 0;
  }
}

.button-paading {
  padding: 2vw 0 3vw;
}

@media screen and (max-width: 768px) {
  .button-paading {
    padding: 4vw 0 6vw;
  }
}
.find-project .inner {
  background: #FFF;
  padding: 2vw 1.5vw 1.5vw 1.5vw;
  border-radius: 0.8em;
}
.find-project .caption {
  margin: 0 0 2vw;
  display: block;
  text-align: center;
  font-weight: 600;
}
.find-project .md-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 1.5vw;
}
.find-project .md-row .item-inner {
  width: 19%;
}
.find-project .md-row .item-inner label {
  display: block;
  font-weight: 600;
}
.find-project .md-row .item-inner .input-text {
  display: block;
  width: 100%;
  height: 3.5vw;
  border: 1px solid #EAEAEA;
  border-radius: 0.3rem;
  padding: 0 0.7vw;
}
.find-project .md-row .item-inner .input-text::-webkit-input-placeholder {
  color: #888888;
}
.find-project .md-row .item-inner .input-text::-moz-placeholder {
  color: #888888;
}
.find-project .md-row .item-inner .input-text:-ms-input-placeholder {
  color: #888888;
}
.find-project .md-row .item-inner .input-text::placeholder {
  color: #888888;
}
.find-project .md-row .item-inner .date-pk {
  position: relative;
}
.find-project .md-row .item-inner .date-pk input {
  cursor: pointer;
  background: url(../images/icon/icon-date.png) no-repeat right 0.5vw center;
  -webkit-background-size: 1.2vw auto;
          background-size: 1.2vw auto;
}
.find-project .md-row .item-inner .ui.dropdown {
  min-height: 1px;
  min-width: 100%;
  width: 100%;
  height: 3.5vw;
  border-radius: 0.5rem;
  border: 1px solid #EAEAEA;
  padding: 1.2vw 1vw 1.2vw 1vw;
}
.find-project .md-row .item-inner .ui.dropdown .text {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 13vw;
  overflow: hidden;
}
.find-project .md-row .item-inner .ui.dropdown .text.default {
  color: #212121;
}
.find-project .md-row .item-inner .ui.dropdown .icon.dropdown {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  right: 0;
}
.find-project .md-row .item-inner .ui.dropdown .icon.dropdown:before {
  content: "";
  width: 0.8vw;
  height: 0.8vw;
  display: block;
  background: url(../images/icon/arrow-down.png) no-repeat center center !important;
  -webkit-background-size: 100% auto !important;
          background-size: 100% auto !important;
}
.find-project .md-row .item-inner .ui.dropdown .menu {
  border: none;
}
@media screen and (max-width: 768px) {
  .find-project .md-row {
    display: block;
  }
  .find-project .md-row .item-inner {
    margin: 0 0 3vw;
    width: 100%;
  }
  .find-project .md-row .item-inner .input-text {
    height: 6vw;
    padding: 0 1.5vw;
  }
  .find-project .md-row .item-inner .date-pk input {
    cursor: pointer;
    background: url(../images/icon/icon-date.png) no-repeat right 2vw center;
    -webkit-background-size: 3vw auto;
            background-size: 3vw auto;
  }
  .find-project .md-row .item-inner .ui.dropdown {
    height: 6vw;
    padding: 1.5vw 2vw 1.4vw 1.5vw;
  }
  .find-project .md-row .item-inner .ui.dropdown .text {
    width: 90%;
  }
  .find-project .md-row .item-inner .ui.dropdown .icon.dropdown:before {
    width: 1.3vw;
    height: 1.3vw;
  }
}

.md-table {
  max-width: 100%;
  padding: 0 0 2vw;
  background: #FFF;
}
.md-table .table {
  min-width: 100%;
  width: auto;
  text-align: center;
  margin: 0;
}
.md-table .table thead tr th {
  vertical-align: middle;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
}
.md-table .table th {
  border-bottom: none;
  vertical-align: middle;
}
.md-table .table td {
  vertical-align: middle;
}
.md-table .table .img-detail {
  width: 4vw;
  border-radius: 0.5rem;
  overflow: hidden;
}
.md-table .table .more {
  border: 1px solid #AB0302;
  padding: 0.3vw 1vw 0.4vw 1vw;
  border-radius: 1.5vw;
  display: inline-block;
}
.md-table .table .bao-gia {
  background: #E3FBEC;
  border-radius: 1em;
  display: inline-block;
  white-space: nowrap;
  padding: 0.5vw 1vw;
  color: #0ED667;
}
.md-table .table .bao-gia:hover {
  color: #FEB304;
}
@media screen and (max-width: 768px) {
  .md-table .table th {
    padding: 0.1rem;
  }
  .md-table .table td {
    padding: 0.1rem;
  }
  .md-table .table .img-detail {
    width: 6vw;
    border-radius: 0.3rem;
  }
}

.blk-table .caption {
  display: block;
  padding: 2vw 0 1vw;
}
.blk-table .inner {
  border-radius: 0.7em;
  padding: 0.7em;
}
@media screen and (max-width: 768px) {
  .blk-table .caption {
    padding: 3vw 0 2vw;
  }
  .blk-table .md-pagination {
    padding: 0 0 2vw;
  }
}
