/* tim kiem doi tac
 -----------------------------------------------------*/
.page-find-partner-2 .md-pagination {
  padding: 0 0 0vw;
}
@media screen and (max-width: 768px) {
  .page-find-partner-2 .md-pagination {
    padding: 2vw 0 2vw;
  }
}

.list-category {
  padding: 0 0 3vw;
}
.list-category .caption {
  display: block;
  padding: 3vw 0 1.2vw;
}
.list-category .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.list-category .list .item {
  width: 19%;
  margin: 0 0 1vw;
}
.list-category .list .item a {
  display: block;
  text-align: center;
}
.list-category .list .item img {
  width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
  display: block;
  margin: 0 0 0.2rem;
}
@media screen and (max-width: 768px) {
  .list-category .caption {
    padding: 6vw 0 3vw;
  }
  .list-category .list .item {
    margin: 0 0 3vw;
    width: 48%;
  }
  .list-category .list .item img {
    margin: 0 0 0.5rem;
  }
}

.blk-shop-list .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.blk-shop-list .list .item {
  width: 23.5%;
  margin: 0 0 2vw;
  background: #FFF;
}
.blk-shop-list .list .item a {
  display: block;
}
.blk-shop-list .list .item .thumb {
  margin: 0 0 0.5vw;
}
.blk-shop-list .list .item .thumb img {
  width: 100%;
}
.blk-shop-list .list .item .content {
  padding: 0.3vw 0.8vw 0.8vw 0.8vw;
}
.blk-shop-list .list .item .content .title {
  border-bottom: 1px solid #DFDFDF;
  padding: 0 0 0.8vw;
  margin: 0 0 0.5vw;
}
.blk-shop-list .list .item .content .title span {
  display: block;
  line-height: 1.3em;
}
.blk-shop-list .list .item .info {
  color: #676767;
  width: 100%;
}
.blk-shop-list .list .item .info tr td {
  padding: 0.3vw 0;
  vertical-align: top;
}
.blk-shop-list .list .item .info tr td:nth-child(2) {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .blk-shop-list .list .item {
    width: 47%;
    margin: 0 0 4vw;
  }
  .blk-shop-list .list .item .thumb {
    margin: 0 0 1.2vw;
  }
  .blk-shop-list .list .item .content .title {
    padding: 0 0 1.3vw;
    margin: 0 0 0.7vw;
  }
}

.slider1-outer {
  position: relative;
}
.slider1-outer .number-items {
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  z-index: 2;
  background: #373530;
  padding: 0.5vw 1.5vw;
  border-radius: 0.3em;
  color: #FFF;
  font-size: -webkit-calc(0.9vw + 4px);
  font-size: calc(0.9vw + 4px);
}
@media screen and (max-width: 768px) {
  .slider1-outer .number-items {
    font-size: -webkit-calc(1.4vw + 4px);
    font-size: calc(1.4vw + 4px);
  }
}

#slider1 {
  position: relative;
  margin: 0 0 0.3vw;
}
@media screen and (max-width: 768px) {
  #slider1 {
    margin: 0 0 1.6vw;
  }
}

#slider2 {
  position: relative;
  margin-left: -0.4vw;
  margin-right: -0.4vw;
  width: -webkit-calc(100% + 0.8vw);
  width: calc(100% + 0.8vw);
  margin: 0 0 1.5vw;
}
#slider2 .owl-item {
  padding: 0 0.4vw;
}
#slider2 .owl-item .item {
  position: relative;
}
#slider2 .owl-item .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}
#slider2 .owl-item.current .item:before {
  display: none;
}
@media screen and (max-width: 768px) {
  #slider2 {
    margin: 0 0 4vw;
    width: -webkit-calc(100% + 1.8vw);
    width: calc(100% + 1.8vw);
    margin-left: -0.9vw;
    margin-right: -0.9vw;
  }
  #slider2 .owl-item {
    padding: 0 0.9vw;
  }
}

.blk-detail-partner {
  padding: 0 0 3vw;
}
.blk-detail-partner .top-meta {
  margin: 0 0 2vw;
}
.blk-detail-partner .top-meta .caption {
  padding: 0;
  margin: 0 0 1vw;
}
.blk-detail-partner .detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blk-detail-partner .detail .fl-left {
  width: 60%;
}
.blk-detail-partner .detail .fl-left .info .title {
  margin: 0 0 0.7vw;
}
.blk-detail-partner .detail .fl-left .info .title strong {
  display: block;
}
.blk-detail-partner .detail .fl-left .info .meta {
  margin: 0 0 1.3vw;
}
.blk-detail-partner .detail .fl-right {
  width: 38%;
}
.blk-detail-partner .detail .fl-right a {
  display: block;
  margin: 0 0 0.8vw;
}
.blk-detail-partner .detail .fl-right a:last-child {
  margin: 0;
}
.blk-detail-partner .detail .fl-right a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .blk-detail-partner .detail {
    display: block;
  }
  .blk-detail-partner .detail .fl-left {
    width: 100%;
    margin: 0 0 4vw;
  }
  .blk-detail-partner .detail .fl-left .info .title {
    margin: 0 0 2vw;
  }
  .blk-detail-partner .detail .fl-left .info .meta {
    margin: 0 0 3vw;
  }
  .blk-detail-partner .detail .fl-right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blk-detail-partner .detail .fl-right a {
    width: 48%;
  }
}

.blk-slider-shop {
  padding: 0 0 2vw 0;
}
@media screen and (max-width: 768px) {
  .blk-slider-shop {
    padding: 0 0 6vw 0;
  }
}

.slider-shop {
  margin-right: -1vw;
  margin-left: -1vw;
  width: -webkit-calc(100% + 2vw);
  width: calc(100% + 2vw);
}
.slider-shop .owl-item {
  padding: 0 1vw;
}
.slider-shop .owl-prev {
  left: 1vw;
  top: 40%;
}
.slider-shop .owl-next {
  right: -1vw;
  top: 40%;
}
.slider-shop .item {
  background: #FFF;
}
.slider-shop .item a {
  display: block;
  -webkit-box-shadow: 0 0 5px #ededed;
          box-shadow: 0 0 5px #ededed;
}
.slider-shop .item .thumb {
  margin: 0 0 0.5vw;
}
.slider-shop .item .thumb img {
  width: 100%;
}
.slider-shop .item .content {
  padding: 0.3vw 0.8vw 0.8vw 0.8vw;
}
.slider-shop .item .content .title {
  border-bottom: 1px solid #DFDFDF;
  padding: 0 0 0.8vw;
  margin: 0 0 0.5vw;
}
.slider-shop .item .content .title span {
  display: block;
  line-height: 1.3em;
}
.slider-shop .item .info {
  color: #676767;
  width: 100%;
}
.slider-shop .item .info tr td {
  padding: 0.3vw 0;
}
.slider-shop .item .info tr td:nth-child(2) {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .slider-shop {
    margin-right: -2vw;
    margin-left: -2vw;
    width: -webkit-calc(100% + 4vw);
    width: calc(100% + 4vw);
  }
  .slider-shop .owl-prev {
    left: 2.25vw;
    top: 40%;
  }
  .slider-shop .owl-next {
    right: -2.25vw;
    top: 40%;
  }
  .slider-shop .owl-item {
    padding: 0 2vw;
  }
  .slider-shop .item .thumb {
    margin: 0 0 1.2vw;
  }
  .slider-shop .item .content .title {
    padding: 0 0 1.3vw;
    margin: 0 0 0.7vw;
  }
}
